doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
            title Linda Fell - Celebrant
        link(href="https://fonts.googleapis.com/css?family=Dancing+Script", rel="stylesheet", type="text/css")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        meta(name="keywords", content="Linda Fell, celebrant, weddings, funerals, memorials")
    body
        include _navigation
        block banner
        .container
            .content
                block content
        footer
            .container
                include _footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="/js/main.js")
