extends _layout

block content
    h1 About
    p
        | I was born in Cambridge in the Waikato and have lived in Napier and
        | Auckland but have been settled back in the Waikato in Hamilton for the
        | last 25 years. I have a blended family of four adult children and
        | grandchildren just starting to enrich our family.
    p
        | I am a celebrant associated with the Te Awamutu Spiritualist Church.
        | Although this is important to me and reflects a lot of who I am it
        | does not restrict me in any way to help you to create a ceremony that
        | fits you and reflects our own beliefs or ideas for your ceremony. I
        | love to embrace different ways of making sure your ceremony is special
        | and unique.
    p
        | Through my work and life experiences with schools, local council,
        | netball, health and mental health sectors and as a Justice of the
        | Peace ~ these have all given me insight, understanding and respect for
        | all walks of life and all ethnicities. Through these experiences I am
        | able to be respectful of people's thoughts and feelings. I embrace
        | change and I love to learn new ways of approaching ceremonies and life
        | in general.
    p
        | Enough about me ~ I would consider it an honour to be your celebrant
        | for whatever ceremony you are having. Whether it be a marriage
        | ceremony, renewal of vows or the often life changing experience of
        | saying farewell to someone special I can help you to make this time
        | memorable for you and your family. It would be my privilege.
