extends _layout

block title
    title Contact | Linda Fell - Celebrant

block content
    h1 Contact
    p
        | I offer you a no obligation meeting or phone call to discuss any plans
        | you may have for your ceremony or service. If you decide that I don't
        | fit what you are looking for then you do not have to engage my
        | services.
    p
        | I am happy to meet with you, hear your story and discuss what might
        | suit you.
    p
        | Linda Fell#[br]
        | Celebrant and NZ Justice of the Peace
    p
        | Email: #[a(href="mailto:lindafell@xtra.co.nz") lindafell@xtra.co.nz]#[br]
        | Phone: #[a(href="tel:6478563789") 07 856 3789]#[br]
        | Mobile: #[a(href="64210520994") 021 052 0994]#[br]
