extends _layout

block title
    title Funerals | Linda Fell - Celebrant

block content
    h1 Funerals
    p
        | Funeral Celebrant work is close to my heart.
    p
        | I think this is one of the defining ceremonies for family and loved
        | ones left behind when someone dies. I am comfortable with death so I
        | feel I can help families to make the transition through this stage by
        | making a service something to remember with love and maybe just a
        | little joy.
    p
        | Funeral services can take many forms and I could provide you with the
        | means to word a service that reflects everything that made your loved
        | one so special to you.
    p
        | Tears and laughter#[br]
        | Tears are something that can rarely be avoided.#[br]
        | Laughter is a gift that can help families and friends feel a little
        | lighter in their time of sorrow.

    p
        | It can be a time of great sadness but can also be a time of wonderful
        | memories, shared stories, anecdotes and reviving cups of tea or a
        | tipple or two.
    p
        | I can take you through this process by taking time to listen and to
        | help you remember the stories that make your deceased family member or
        | friend seem real again for a brief moment of time.
    p
        | It's your road and yours alone... Others may walk it with you but no
        | one can walk it for you.
