doctype html
html(lang="en")
    head
        title Static Site
        link(rel="stylesheet", type="text/css", href="css/main.css")
    body
        .navbar.navbar-default.navbar-static-top
            .container
                .navbar-header
                    a.navbar-brand(href="/") Static Site
        
        .container
            h1 Static Site
            p Welcome to your static site.
        
        script(type='text/javascript', src='js/main.js')
