doctype html
html(lang="en")
  head
    title Static Site
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    h1 Static Site
    p Welcome to your static site.
    script(type='text/javascript', src='js/main.js')
    p= IS_PRODUCTION
