extends _layout

block title
    title Memorials | Linda Fell - Celebrant

block content
    h1 Memorials
    p
        | This is a service for loved ones or friends who have died and they
        | don't want a funeral with the casket on display. Maybe the body, for a
        | number of reasons, is not there.
    p
        | This is another special way of honouring someone who has died.
    p
        | I can help you to have a service that remembers the person with
        | dignity, love and kindness. It can take the same format as a service
        | with a casket or it can be more intimate. I am there to offer you
        | guidance.
