extends _layout

block title
    title Weddings | Linda Fell - Celebrant

block content
    h1 Weddings
    p
        | To write your individualised wedding ceremony with your help or to use
        | a ceremony that you have written would be a privilege.
    p
        | I am happy to assist you through the process of choosing readings,
        | vows, songs and guide you through special things you may like to
        | incorporate in your ceremony.
    p
        | Apart from the legal aspects of a marriage ceremony which have to be
        | completed, we can talk through all ideas that you may have to make
        | your day just that little more special. I enjoy incorporating
        | different ideas to make ceremonies memorable and fun.
    p
        | This is such an important step in your life that I will endeavour to
        | make your special day memorable and stress free.
    p
        | It would give me great pleasure to promise sunshine for all ceremonies
        | and although I can often do this I can’t promise it 100%.
